body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
  
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}
.wrapper{
  width:80%;
  
  display:flex;
  justify-content: space-between;
  height: 100%;
 
  align-items: center;
}


.alpaca-btns{
  display: flex;
  justify-content: space-between;
  padding-top:1rem;
  
}

.alpaca-btns > button{
  padding:0.5rem 2rem;
  text-align: center;
 ;
}

